:root {
  --backgroundColor: rgb(15, 15, 15);
  --gap: 52px;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  position: relative;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

