.contact
  display: flex
  justify-content: space-between
  background: rgb(241, 227, 228)
  width: 100%

  //padding-left: 134px
  flex-direction: column

  @media (min-width: 1900px)
    flex-direction: row
    height: 100vh